In [1]:
import numpy as np
import pandas as pd

In [8]:
from numpy.random import randn
np.random.seed(101)

In [11]:
df = pd.DataFrame(randn(5,4), "A B C D E".split(), "W X Y Z".split())

In [18]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [19]:
df['new'] = pd.Series(randn(5), "A B C D E".split())

In [20]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -0.156598
B -0.134841  0.390528  0.166905  0.184502 -0.031579
C  0.807706  0.072960  0.638787  0.329646  0.649826
D -0.497104 -0.754070 -0.943406  0.484752  2.154846
E -0.116773  1.901755  0.238127  1.996652 -0.610259

In [22]:
df[df['new']>0]

          W        X         Y         Z       new
C  0.807706  0.07296  0.638787  0.329646  0.649826
D -0.497104 -0.75407 -0.943406  0.484752  2.154846

In [24]:
df[df['W']>0]['W']

A    0.302665
C    0.807706
Name: W, dtype: float64

In [32]:
df[df>0]

          W         X         Y         Z       new
A  0.302665  1.693723       NaN       NaN       NaN
B       NaN  0.390528  0.166905  0.184502       NaN
C  0.807706  0.072960  0.638787  0.329646  0.649826
D       NaN       NaN       NaN  0.484752  2.154846
E       NaN  1.901755  0.238127  1.996652       NaN